/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 32px 0;
  font-family: sans-serif;
  background: #121212;
}

.container {
  background-color: #282828;

  color: #8b8b8b;

  width: 80%;
  margin: 0 auto;

  padding: 2em;

  border-radius: 20px;
}

.intro-content {
  width: 50%;
}

.intro-content h1 {
  color: #fff;
}
